<div class="template_wrapper">
  <div class="row">

    <div class="large-12 columns">
      <ul class="button-group">
        <li><a href="#" class="button">Previous</a></li>
        <li><a href="#" class="button">Reset</a></li>
        <li><a href="#" class="button">Next</a></li>
      </ul>

        <div class="row">
          <div class="large-6 columns">
            <img src="http://i.imgur.com/dOYSwCA.jpg"><br>
          </div>

          <div class="large-6 columns">
            <h3 class="show-for-small">Question<hr/></h3>
            <div class="panel">
              <h4 class="hide-for-small">Question<hr/></h4>
              <div class="code_box">
                <% @questions.each_slice(1) do |slice| %>
                  <p><%= slice[0][:question] %></p>
                  <% form_for @answers %>
                <% end %>
              </div>
            </div>

          </div>

        </div>

        <footer class="row">
        <div class="large-12 columns"><hr/>
            <div class="row">

              <div class="large-6 columns">
                  <p><%= link_to "© iEv0lv3", "https://github.com/iEv0lv3" %></p>
              </div>

              <div class="large-6 columns">
                  <ul class="inline-list right">
                    <%= link_to "Home", root_path %>
                  </ul>
              </div>

            </div>
        </div>
      </footer>
    </div>
  </div>
</div>
