html {
  height: 100%;
}

body {
  font-family: 'Architects Daughter', cursive;
  background: linear-gradient(rgba(230,230,230,0.9) 30%, rgba(255, 255, 255,0.6) 70%); /*Standard*/
  background-attachment: fixed;
}

a {
  color: #008CBA;
  line-height: inherit;
  text-decoration: none;

  &:hover {
    color: #00B800;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Architects Daughter', cursive;
}

.button {
  background-color: transparent;
  color: #525252;

  &:hover {
    background-color: transparent;
  }
}

.button-group > li .button {
  border: none;
  font-family: 'Architects Daughter', cursive;
  transition-property: gradient;
  transition-delay: initial;

  &:hover {
    color: #000;
    transition: gradient 300ms ease-out;
    background: linear-gradient(rgba(255,0,0,0) 90%, rgba(0,184,0,1)10%);
  }
}

.top_bar_wrapper {
  border-bottom: solid 5px #00B800;
}

.top-bar-section ul li > a {
  font-family: 'Architects Daughter', cursive;
}

.template_wrapper {
  margin-top: 2rem;
}

.code_box {
  font-family: 'Source Code Pro';
  background-color: #E6E6E6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}
